@using Microsoft.AspNet.Identity
@model IEnumerable<RedSocial.DB.Posts>
<!-- Post Begins -->

@foreach (var item in Model)
{
    <section class="card mt-4">
        <div class="border p-2">
            <!-- post header -->
            <div class="row m-0">
                <div class="">
                    <a class="text-decoration-none" href="#">
                        <img class="" src="@Url.Action("imagen", "Profile", new { item.UserID })" width="50" height="50" alt="...">
                    </a>
                </div>
                <div class="flex-grow-1 pl-2">
                    <a class="text-decoration-none" href="#">
                        <h2 class="text-capitalize h5 mb-0">@item.AspNetUsers.Nombre</h2>
                    </a>
                    <p class="small text-secondary m-0 mt-1">@item.Fecha</p>
                </div>

                <div class="dropdown">
                    <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item text-primary" href="#">Edit</a>
                        <a class="dropdown-item text-primary" href="#">Delete</a>
                    </div>
                </div>
            </div>
            <!-- post body -->
            <div class="">
                <p class="my-2">
                    @item.Mensaje
                </p>
            </div>
            <hr class="my-1">
            <!-- post footer begins -->
            <footer class="">
                <!-- post actions -->
                <div class="">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item flex-fill text-center p-0 px-lg-2 border border-0">
                            <a class="small text-decoration-none" href="#" onClick="addLike(@item.Id)">
                                <i class="far fa-thumbs-up"></i> @item.Likes.Count Like
                            </a>
                        </li>
                        <li class="list-group-item flex-fill text-center p-0 px-lg-2 border border-right-0 border-top-0 border-bottom-0">
                            <a class="small text-decoration-none" data-toggle="collapse" href=@("#collapseExample"+item.Id) role="button" aria-expanded="false" aria-controls="collapseExample1">
                                <i class="fas fa-comment-alt"></i> @item.Comments.Count  Comment
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- collapsed comments begins -->
                <div class="collapse" id=@("collapseExample"+item.Id)>
                  
                    <div class="card border border-right-0 border-left-0 border-bottom-0 mt-1">
                        <!-- new comment form -->
                        <section class="mt-3">
                            <form action="">
                                <div class="input-group input-group">
                                    <input type="text" class="form-control" id=@("message"+item.Id) placeholder="Write Comment" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button  class="text-decoration-none text-white btn btn-primary " onClick="addComment(@item.Id)" href="#" role="button">Comment</button>
                                    </div>
                                </div>
                            </form>
                        </section>
                        <!-- comment card bgins -->
                        @foreach (var comment in item.Comments)
                        {
                            <section>
                                <div class="card p-2 mt-3">
                                    <!-- comment header -->
                                    <div class="d-flex">
                                        <div class="">
                                            <a class="text-decoration-none" href="#">
                                                <img class="profile-pic" src="@Url.Action("imagen", "Profile", new { comment.UserID })" width="40" height="40" alt="...">
                                            </a>
                                        </div>
                                        <div class="flex-grow-1 pl-2">
                                            <a class="text-decoration-none text-capitalize h6 m-0" href="#">@comment.AspNetUsers.Nombre</a>
                                            <p class="small m-0 text-muted">@comment.Fecha</p>
                                        </div>
                                        <div>
                                            <div class="dropdown">
                                                <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-chevron-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item text-primary" href="#">Edit</a>
                                                    <a class="dropdown-item text-primary" href="#">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- comment header -->
                                    <!-- comment body -->
                                    <div class="card-body p-0">
                                        <p class="card-text h7 mb-1">@comment.Mensaje</p>
                                    </div>
                                </div>
                            </section>
                            <!-- comment card ends -->
                        }
                        </div>
                    
                </div>
                <!-- collapsed comments ends -->
            </footer>
            <!-- post footer ends -->
        </div>
    </section>
    <!-- Post Ends -->
}
